.principal {
   background-image: url(../../assets/login.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }

  body {
    height: 100%;
    margin: 50px;
  }