.titulo{
    color: blue;
    text-align: center;

}

.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}
.btnCont{
    display: flex;
    justify-content: space-around;
}
.btn{
    margin-right: 10px;
    font-size: 20px;
}